@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.displayHide{
    display: none;
}

/* ============ Share Style =============== */
.inter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

/* =========== Hamburger Icon ==================== */
.hamburgerIcon{
    display: none;
}


/* ========== Animation ================= */
#nav-link li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #00FF88;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

#nav-link li a:hover::after{
    width: 100%;
}

/* =============== Background Color =================== */
.dark-color{
    background-color: #1A0B2E;
}
.light-color{
    background-color: #230E3D;
}

/* ================= Header Area Style =================== */
#header-area{
    padding: 30px 0;
    border-bottom: .5px solid #fefdff48;
}
nav{
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 2.4rem;
    font-weight: 800;
    color: #fff;
}
.logo h1 span{
    background: linear-gradient(20deg,rgba(247, 233, 63, 2) 15%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: transparent;
    background-clip: text;
    display: inline-block;
}
.menu ul li{
    list-style: none;
    margin-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.button button {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    background: linear-gradient(20deg,rgba(247, 233, 63, 2) 10%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

/* ================= Hero Section style ====================== */
.hero-bg {
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.hero-cont{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new{
    padding: 4px 14px;
    background-color: #00FF88;
    border-radius: 30px;
    color: #000;
    position: absolute;
    top: 3%;
    right: 14%;
    font-weight: 700;
    font-size: 1rem;
}
.hero-text{
    text-align: center;
    margin-top: 30px;
    color: #fff;
}
.hero-text h1{
    font-size: 3.6rem;
    margin-bottom: 12px;
}
.hero-text p{
    font-size: 1rem;
    margin-bottom: 15px;
}

.spotify{
    display: inline-flex;
    margin-right: 8px;
}
.spotify img{
    margin-right: 5px;
}
.subscribe{
    display: inline-flex;
}
.subscribe img{
    margin-right: 5px;
}
.spotify{
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    background: linear-gradient(20deg,rgba(247, 233, 63, 2) 10%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.subscribe{
    padding: 12px 22px;
    border: 1px solid #00FF88;
    background-color: transparent;
    border-radius: 30px;
    color: #00FF88;
    cursor: pointer;
}
/* =========== About Section Style ================== */
.about{
    padding: 60px 0;
}
.about-content{
    text-align: center;
    padding: 60px 160px;
    color: #fff;
}
.about-title{
    font-size: 3rem;
    margin-bottom: 25px;
    font-weight: 700;
}
.about-text{
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}

.about-production{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.about-item h1{
    color: #00FF88;
    font-size: 2.8rem;
}
.about-item p{
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

/* ================ Why Choose Us section Style ==================== */
.choose{
    padding: 100px 0;
    color: #fff;
}
.whyChoose{
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
}

.choose-con{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}
.wide-rw{
    grid-row: span 2;
}
.wide-col{
    grid-column: span 2;
}
.choose-item{
    border-radius: 15px;
    padding: 20px 40px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    background-color: rgba(53, 17, 101, 0.4);
    align-content: center;
}
.choose-item h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
.choose-item p{
    font-size: 1rem;
    font-weight: 300;
}

/* ============== Featured Section Style ================== */
.episode{
    padding: 50px 0;
}
.featuredEpi{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: #fff;
}

.featured{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}
.featured-items{
    background-color: #230E3D;
    border-radius: 20px;
}
.iframs iframe{
    width: 100%;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.featured-cont{
    padding: 20px;
}
.featured-cont h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.featured-cont p{
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 8px;
}
.featured-cont span{
    font-size: 1rem;
    font-weight: 400;
    color: #00FF88;
}

/* ================== Host Section Style ===================== */
.hostSection{
    margin: 60px 0;
}
.hostTitle{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: #fff;
}
.hostItems{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 20px;
    background-color: #230E3D;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.hostCont h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.hostCont p{
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 25px;
}
.hostCont a{
    padding: 12px;
    border: 1px solid #8b8b8b7a;
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.hostCont a img{
    width: 100%;
}

/* ================= Footer Section Style =================== */
footer{
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.footer-cont{
    text-align: center;
    color: #fff;
    max-width: 770px;
    margin: 0 auto;
}
.footer-title{
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-title span{
    background: linear-gradient(20deg,rgba(247, 233, 63, 2) 15%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: transparent;
    background-clip: text;
    display: inline-block;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin-bottom: 25px;
}
.footer-link li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: inline-flex;
}
.footer-link li a img{
    margin-right: 10px;
}

/* ============ Responsive Design ==================== */
@media screen and (max-width: 576px)
{
    /* =========== Navbar Responsive ============= */
    .menu ,
    .button{
        display: none;
    }
    .hamburgerIcon{
        display: block;
    }

    nav{
        padding: 0 20px;
    }

    /* =============== Hero Section Responsive =============== */
    .hero-cont{
        padding: 0 40px;
    }
    .hero-text p{
        margin-bottom: 25px;
    }

    /* =========== About Section Responsive ============= */
    .about{
        padding: 0;
    }
    .about-content{
        padding: 15px 25px;
    }
    .about-text {
        line-height: normal;
    }

    .about-production{
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        margin-bottom: 60px;
    }
    .about-item{
        flex-basis: 50%;
        text-align: center;
    }

    /* ================ Choose TechWave Responsive ============= */
    .choose{
        padding: 50px 0;
    }
    .choose-con{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 25px;
    }
    .wide-col{
        grid-column: span 1;
    }
    .wide-rw{
        grid-row: span 1;
    }
    .whyChoose {
        font-size: 2.3rem;
    }

    /* ================= Episode section Responsive ================ */
    .featured{
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .featured-items {
        max-width: 450px;
        margin: 0 auto;
    }

    /* ================= Host section Responsive ==================== */
    .hostSection{
        margin-top: 8px;
        margin-bottom: 15px;
    }
    .hostTitle{
        font-size: 2.4rem;
    }
    .hostItems{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        padding: 40px 20px;
        margin: 0 20px;
    }

    /* ============== Footer Section Responsive ============== */
    
    .footer-link{
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-link li{
        margin: 10px;
    }
    .copyRight{
        margin-top: 15px;
    }
}